.benefits{
    margin: 50px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefit img{
    width: 100%;
    border-radius: 10px;
    display: block;
    /* border: red 1px solid; */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
}

.benefit{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 168, 72, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    font-weight: 600;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
}

.benefit:hover .caption{
    opacity: 1;
    padding-top: 0;
}